/* Create a square that is 50px in height and width */
#containerOfDivs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.testDiv {
    height: 100px;
    width: 100px;
    background-color: black;
    border: 1px solid black;
}